@{
    ViewBag.Title = "MyCart";
    Layout = "~/Views/Shared/_Layout.cshtml";



    Cart sessionCart = Session["scart"] as Cart; //Unboxing
    decimal? totalPrice = 0;
}

<div>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Seçili Oda</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in sessionCart.myCart)
            {
                totalPrice += item.ToplamFiyat;
                <tr>
                    <td>@item.OdaTuru</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Tatil Paketi</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in sessionCart.myCart)
            {
                totalPrice += item.ToplamFiyat;
                <tr>
                    <td>@item.TatilPaketi</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Giriş ve Çıkış Tarihleri</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in sessionCart.myCart)
            {
                totalPrice += item.ToplamFiyat;
                <tr>
                    <td>@item.KonaklamaBaslangic</td>
                    <td>@item.KonaklamaBitis</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="col-md-3">
    <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-between">
                @*verileri yan yana yazdirmamizi saglar*@
                <h5>Genel Toplam: </h5>
                <h5> @totalPrice TL</h5>
            </div>
            <div class="col-md-12 mt-5">
                @Html.ActionLink("Rezervasyonu Tamamla", "CompleteCart", "Home", null, new { @class = "btn btn-primary" })
                @Html.ActionLink("Devam Et", "Index", "Home", null, new { @class = "btn" })
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />